.main-weather-component {
    position: relative;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 2%;
}

@media screen  and (max-width: 500px) {
    .main-weather-component {
        width: 100%;
        height: 70%;
    }
}

@media screen and (min-width: 1200px) {
    .main-weather-component {
        width: 60%;
    }
}